black==24.10.0
chroma==0.2.0
chromadb==0.6.3
crawl4ai==0.4.247
fastapi==0.115.6
gradio==3.36.1
ollama==0.4.6
langchain==0.3.14
langchain-community==0.3.14
langchain-ollama==0.2.2
langchain-openai==0.3.1
langchain-huggingface==0.1.2
accelerate==1.3.0
sentence-transformers==3.3.1
transformers==4.47.1
huggingface_hub==0.27.1
bitsandbytes==0.45.0
tavily-python==0.5.1
python-dotenv==1.0.1
pymilvus==2.5.4